<h1>Inventory</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Entry Type</th>
      <th>Date</th>
      <th>Book ID</th>
      <th>Quantity</th>
      <th>Unit Cost</th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>