<% view_model.order_views.each do |order_view| %>
  <div class="row">
    <%= render order_view.partial, view_model: order_view %>
  </div>
<% end %>
<br>
<div class="row">
  <%= link_to "Add new order", new_admin_customer_order_path(view_model.customer), class: 'btn btn-default', remote: true %>
  <div class="row" id="order-form"></div>
</div>
