<% presenter.each_order do |presenter| %>
  <div class="row">
    <%= render 'admin/customers/order', presenter: presenter %>
  </div>
<% end %>
<div class="row">
  <%= link_to "Add new order", new_admin_customer_order_path(@customer_presenter.customer), class: 'btn btn-default', remote: true %>
  <div id="order-form"></div>
</div>
