<h2>Customer <%= @customer_presenter.customer_id %></h2>
<div class="row">
  <%= render 'form' %>
</div>

<div class="row">
  <%= render 'orders', presenter: @customer_presenter %>
</div>
<div class="row">
  <%= link_to "Add new order", '#', class: 'btn btn-default' %>
</div>
<%#= form_tag merge_customer_admin_order_path(@order_form.id), id: 'merge-customer-form' do |f| %>
  <%#= label_tag :other_order_id, 'Order ID' %>
  <%#= text_field_tag :other_order_id %>
  <%#= submit_tag 'View Order' %>
<%# end %>
