<h2 class="customer">Customer <%= @edit_view_model.customer_id %><span class="flash"></span></h2>
<div id="customer-form" class="row">
  <%= render 'form' %>
</div>

<div class="row">
  <h2 class="orders">Orders<span class="flash"></span></h2>
  <div class="col-sm-10" id="orders">
    <%= render 'orders', view_model: @edit_view_model %>
  </div>
</div>

<div class="row merged-customers">
  <h2 class="merged-customer-records">Merged Customer Records<span class="flash"></span></h2>
  <div class="col-sm-10" id="orders">
    <%= render 'merged_customers', view_models: @edit_view_model.merged_customer_views %>
  </div>
</div>
