<h2 class="customer">Customer <%= @customer_presenter.customer_id %><span class="flash"></span></h2>
<div id="customer-form" class="row">
  <%= render 'form' %>
</div>

<div class="row">
  <h2 class="orders">Orders<span class="flash"></span></h2>
  <div class="col-sm-10" id="orders">
    <%= render 'orders', presenter: @customer_presenter %>
  </div>
</div>
<%#= form_tag merge_customer_admin_order_path(@order_form.id), id: 'merge-customer-form' do |f| %>
  <%#= label_tag :other_order_id, 'Order ID' %>
  <%#= text_field_tag :other_order_id %>
  <%#= submit_tag 'View Order' %>
<%# end %>
