[Desktop Entry]
Encoding=UTF-8
Name=Link to http://bfnz.org.nz/public/images/banner.png
Type=Link
URL=http://bfnz.org.nz/public/images/banner.png
Icon=image-png
