
      <%= stylesheet_link_tag 'application', media: 'all' %>



<section id="foundation"style=padding-top:60px;padding-bottom:20px;>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-left text-center">
        <h1 class="section-heading text-center faq">Foundational Christian Truths Set</h1>
        <hr class="primary">
        <h4 class="text-center">by Watchman Nee and Witness Lee</h4>
      </div>
      <div class="col-sm-6"style=padding-top:20px;>
        <p><i>The Economy of God</i> is by Watchman Nee’s co-worker, Witness Lee. Lee shows from the Scriptures God’s eternal purpose and the way God is carrying out this purpose through His relationship with man. With many practical and helpful illustrations, it is as important and powerful as The Normal Christian Life in guiding believers into the deeper dimensions of the Christian life.</p>
      </div>
      <div class="col-sm-6">
        <a href="/staticpages/Books/#foundation"><img src="/img/basic_elements.jpg"style=width:40%;height:40%;padding-top:20px;padding-bottom:20px;></a> 
      </div>
    </div>
  </div>
</section>
<section id="christian"style=padding-top:60px;padding-bottom:20px;>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-left text-center">
        <h1 class="section-heading text-center faq">Christian Experience Set</h1>
        <hr class="primary">
        <h4 class="text-center">by Watchman Nee and Witness Lee</h4>
      </div>
      <div class="col-sm-6"style=padding-top:20px;>
        <p><i>The Economy of God</i> is by Watchman Nee’s co-worker, Witness Lee. Lee shows from the Scriptures God’s eternal purpose and the way God is carrying out this purpose through His relationship with man. With many practical and helpful illustrations, it is as important and powerful as The Normal Christian Life in guiding believers into the deeper dimensions of the Christian life.</p>
      </div>
      <div class="col-sm-6">
        <a href="/new"><img src="/img/christian_experience.jpg"style=width:40%;height:40%;padding-top:20px;padding-bottom:20px;></a> 
      </div>
    </div>
  </div>
</section>
<section id="church"style=padding-top:60px;padding-bottom:20px;>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-left text-center">
        <h1 class="section-heading text-center faq">The Church Set</h1>
        <hr class="primary">
        <h4 class="text-center">by Watchman Nee and Witness Lee</h4>
      </div>
      <div class="col-sm-6"style=padding-top:20px;>
        <p><i>The Economy of God</i> is by Watchman Nee’s co-worker, Witness Lee. Lee shows from the Scriptures God’s eternal purpose and the way God is carrying out this purpose through His relationship with man. With many practical and helpful illustrations, it is as important and powerful as The Normal Christian Life in guiding believers into the deeper dimensions of the Christian life.</p>
      </div>
      <div class="col-sm-6">
        <a href="/new"><img src="/img/church_set.jpg"style=width:40%;height:40%;padding-top:20px;padding-bottom:20px;></a> 
      </div>
    </div>
  </div>
</section>
