
      <%= stylesheet_link_tag 'application', media: 'all' %>



<section id="foundation" style=padding-top:130px;padding-bottom:20px;>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-left text-center">
        <h1 class="section-heading text-center faq">Essential Truths Set</h1>
        <hr class="primary">
        <h4 class="text-Left">by Watchman Nee and Witness Lee</h4>
      </div>
      <div class="col-sm-6"style=padding-top:20px;>
        <p>The three volumes of Basic Elements of the Christian Life present truths in the Bible that are crucial to our life with the Lord Jesus. They cover matters such as God’s plan of salvation, contacting and experiencing Christ in our human spirit, growing in the Lord, and the building up of the church.</p>
        <br>
        <h4>Volume 1</h4>
        <p>God’s plan of salvation is presented in the first chapter, on the mystery of human life. The following chapters detail several basic experiences for a Christian. The final chapter presents the ultimate key to a believer’s Christian life—the experience of Christ in the human spirit. For those seeking God and for believers who desire to grow in Christ, these messages will establish a firm foundation for a rich and meaningful Christian life.</p>
        <br>
        <h4>Volume 2</h4>
        <p>The central point of the Christian life is to know Christ Himself. For this we need to contact and experience Him in a living way day by day. This experience involves some basic elements, including proper spiritual food, regular spiritual worship, and deep spiritual growth.</p>
        <br>
        <h4>Volume 3</h4>
        <p>There are further experiences of Christ that are basic to the Christian life. As believers, we should live according to the higher principle of life, rather than just the principle of right and wrong. When the life of God operates in us, the shining of this life brings us into a proper living and builds us up with other believers into a corporate expression of God, which is the church. This volume details these experiences. These messages impart spiritual food into all believers for both their personal growth in the Lord and for the growth and building up of the church.</p>
        <br>
        <a href="http://mass.ministrybooks.org/en/download-books/" target="_blank">Download PDF version</a>

      </div>
      <div class="col-sm-6">
        <a href="/staticpages/Books/#foundation"><img src="/img/basic_elements.jpg"style=width:40%;height:40%;padding-top:20px;padding-bottom:20px;></a>  <br><%= link_to 'Order your Free copy', new_order_path, class: 'btn btn-primary btn-xl page-scroll' %>
      </div>
    </div>
  </div>
</section>
<section id="christian"style=padding-top:130px;padding-bottom:20px;>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-left text-center">
        <h1 class="section-heading text-center faq">Christian Experience Set</h1>
        <hr class="primary">
        <h4 class="text-center">by Watchman Nee and Witness Lee</h4>
      </div>
      <div class="col-sm-6"style=padding-top:20px;>
        <p><i>The Normal Christian Life</i> by Watchman Nee focuses on the normal living and experience of a Christian according to the book of Romans. Throughout, Nee shows that this kind of life is not something reserved for extraordinary Christians, but can be the norm for every believer.</p>
        <br><br>
        <p><i>The Economy of God</i> is by Watchman Nee’s co-worker, Witness Lee. Lee shows from the Scriptures God’s eternal purpose and the way God is carrying out this purpose through His relationship with man. With many practical and helpful illustrations, it is as important and powerful as The Normal Christian Life in guiding believers into the deeper dimensions of the Christian life.</p><p>Click here to read online <a href="http://www.ministrybooks.org/books.cfm?id=080F81" target="_blank">The Normal Christian Life</a> and <a href="http://www.ministrybooks.org/books.cfm?id=080180" target="_blank">The Economy of God</a>.</p>
        <br>
        <a href="http://mass.ministrybooks.org/en/download-books/" target="_blank">Download PDF version</a>
      </div>
      <div class="col-sm-6">
        <a href= "http://www.ministrybooks.org/books.cfm?id=2DCAC9"><img src="/img/christian_experience.jpg"style=width:40%;height:40%;padding-top:20px;padding-bottom:20px;></a> <br><%= link_to 'Order your Free copy', new_order_path, class: 'btn btn-primary btn-xl page-scroll' %>
      </div>
    </div>
  </div>
</section>
<section id="church"style=padding-top:130px;padding-bottom:120px;>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-left text-center">
        <h1 class="section-heading text-center faq">Christ and the Church Set</h1>
        <hr class="primary">
        <h4 class="text-center">by Watchman Nee and Witness Lee</h4>
      </div>
      <div class="col-sm-6"style=padding-top:20px;>
        <p>In <i>The Glorious Church</i> Watchman Nee discusses how God views the church, the redeemed believers, from a heavenly perspective. Far from seeing her as defeated by the power of sin and sins, God views the church as the glorious counterpart of Christ. Nee highlights four significant representations of the church in the Bible: Eve in Genesis 2, the wife in Ephesians 5, the woman in Revelation 12, and the Bride in Revelation 21 and 22. In each instance, he presents the church’s high calling to fulfill God’s eternal purpose.</p>
        <br><br>
        <p>In <i>The All-inclusive Christ</i> Witness Lee expounds portions of the book of Deuteronomy, showing that the land inherited by the children of Israel is a full type of Christ, who is our New Testament inheritance. He presents a detailed study of some of the unsearchable riches of the good land. Each type is explained and applied to our experience as believers. From beginning to end The All-inclusive Christ encourages God’s seekers to daily experience and enjoy Christ as the good land for the fulfillment of God’s eternal purpose.</p><p>Click here to read online <a href="http://www.ministrybooks.org/books.cfm?id=1FD9" target="_blank">The Glorious Church</a> and <a href="http://www.ministrybooks.org/books.cfm?id=1ADCF2" target="_blank">The All Inclusive Christ</a>.</p>
        <br>
        <a href="http://mass.ministrybooks.org/en/download-books/" target="_blank">Download PDF version</a>

      </div>
      <div class="col-sm-6">
        <a href="/new"><img src="/img/church_set.jpg"style=width:40%;height:40%;padding-top:20px;padding-bottom:20px;></a>  <br><%= link_to 'Order your Free copy', new_order_path, class: 'btn btn-primary btn-xl page-scroll' %>
        </div>
  <!--<div class="videowrapper">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/vcqbm4KI7Kc?list=PLEB0E7D3F08AA4F91" frameborder="0" allowfullscreen></iframe>
  </div>
      </div>
    </div>-->
