    <%= stylesheet_link_tag 'application', media: 'all' %>

<body>
<h1></h1>
<h1></h1>
<hr>
<section class="bg-primary-FAQ" id="FAQ">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-left">
                  <br><br>
                    <h1 class="section-heading text-center faq top-padding">Frequently Asked Questions</h1>
                    <hr class="light">

<ul class="faqq">
	<br>
  <li><a class="faqq" href="#quest1">How is the Recovery Version New Testament different from other versions?</a></li>
  <li><a class="faqq" href="#quest2">Why is it called the &quot;Recovery Version&quot;?</a> </li>
  <li><a class="faqq" href="#quest3">What does the word &quot;recovery&quot; mean?</a> </li>
  <li><a class="faqq" href="#quest4">Why didn't you include the Old Testament?</a> </li>
  <li><a class="faqq" href="#quest5">What church is Bibles for New Zealand affiliated with?</a> </li>
  <li><a class="faqq" href="#quest6">How is Bibles for New Zealand supported financially?</a> </li>
  <li><a class="faqq" href="#quest7">How long does it take for someone to get their free New Testament?</a> </li>
  <li><a class="faqq" href="#quest8">Who is the publisher of the New Testament Recovery Version?</a> </li>
  <li> <a class="faqq" href="#quest9">When was it published?</a> </li>
  <li><a class="faqq" href="#quest10">Who translated the Recovery Version New Testament?</a> </li>
  <li><a class="faqq" href="#quest11">Who wrote the footnotes?</a></li>
  <br>
</ul>
<div class="faq">
<h3 class="faq"><a name="quest1"></a>How is the Recovery Version New Testament
  different from other versions?</h3>
<p>Bibles for New Zealand chose to distribute the Recovery Version because of
  its accurate, modern English translation and because it contains a wealth
  of useful learning aids that is very easy to use. It contains outlines,
  footnotes, cross-references, charts and maps, which are outstanding in
  the way they help the reader to understand the Bible. We think it's better
  than any version available today.</p>

<h3 class="faq"><a name="quest2"></a>Why is it called the &quot;Recovery
  Version&quot;?</h3>

<p>Each Bible translation has its own name, e.g. &quot;King James Version,&quot;
  or &quot;New International Version.&quot; The &quot;Recovery Version&quot;
  is simply the name of this translation.</p>

<h3 class="faq"><a name="quest3"></a>What does the word &quot;recovery&quot;
  mean?</h3>

<p>The use of the word &quot;recovery&quot; does not refer to a person's
  recovery from alcoholism or other substance abuse. It refers to the regaining
  of the lost matters of biblical truth, Christian experience, and church
  practice. Over time, many biblical truths have been misunderstood, misinterpreted,
  misapplied, or missed completely because of the influences of history,
  tradition and even religion. However, particularly since Martin Luther's
  time, God has been working to recover these truths. This recovery by God
  has steadily progressed, affording His people a greater understanding
  of the divine revelation. Now for the first time these recovered truths
  are brought together in a unique study Bible-the Recovery Version.</p>

<h3 class="faq"><a name="quest4"></a>Why didn't you include the Old Testament?</h3>
<p>For our gift offer we've chosen to give away only the New Testament. Anyone
  wanting a copy of the entire Recovery Version Bible may buy one through
  the publisher, <a href="http://www.lsm.org" target="_blank">Living Stream
    Ministry</a>, through a Christian bookstore, or on the Internet at <a href="http://www.amazon.com" target="_blank">www.amazon.com</a>
  or <a href="http://www.barnesandnoble.com" target="_blank">www.barnesandnoble.com</a>.</p>


<h3 class="faq"> <a name="quest5"></a>What church is Bibles for New Zealand affiliated
  with?</h3>
<p>Bibles for New Zealand is an independent, nonprofit Christian organization
  and is not part of any church. To best fulfill our mission of distributing
  free copies of the Bible and helping people understand it, we stress with
  all our distributors and volunteers that there must be no proselytizing
  associated with Bibles for New Zealand.</p>

<h3 class="faq"><a name="quest6"></a>How is Bibles for New Zealand supported
  financially?</h3>
<p>Bibles for New Zealand is funded by the donations of individuals and churches.
  However, to best fulfill our mission, we allow no organizational or financial
  ties and accept only &quot;no strings attached&quot; contributions.</p>

<h3 class="faq"><a name="quest7"></a>How long does it take for someone to
  get their free New Testament?</h3>

<p>It usually takes two to four weeks from the time they place an order.</p>

<h3 class="faq"><a name="quest8"></a>Who is the publisher of the New Testament
  Recovery Version?</h3>
<p>The publisher is Living Stream Ministry in Anaheim, California.</p>

<h3 class="faq"><a name="quest9"></a>When was it published?</h3>
<p>The Recovery Version New Testament was first published in 1985 and later
  revised in 1991. The Recovery Version Bible (text only) was published
  in 1999.</p>

<h3 class="faq"><a name="quest10"></a>Who translated the Recovery Version
  New Testament?</a></h3>
<p>The editorial section of the Living Stream Ministry translated it.</p>

<h3 class="faq"><a name="quest11"></a>Who wrote the footnotes?</h3>
<p>Witness Lee wrote the footnotes, based upon over fifty years of studying
  the Bible and the best Christian writings from the first century to the
  present. Extensive information about his life and ministry is available
  through Living Stream Ministry.</p>


 </div>

                 </div>
            </div>
        </div>
    </section>


      </div>
      <div class="clear text-center"/>
      <div class = "faqq-text" id="footer">
      	<br><br>
	<p>E-mail: <a href="mailto:info@biblesfornewzealand.org.nz">info@biblesfornewzealand.org.nz</a></p>
	<p>&copy;2002-2016 Bibles For New Zealand. All rights reserved.</p>
  <br><br><br><br>

      </div>

    </div>

  </div>
</section>
 <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action top-padding">
            </div>
        </div>
    </aside>
<section class="bg-primary-FAQ top-padding" id="terms">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-left">
        <h1>Terms of Use</h1>

        <p>Welcome to www.biblesfornewzealand.org.nz. Bibles for New Zealand (“BfNZ”) owns and operates this website (“Site”) and provides its services and products to you subject to the following Terms and Conditions of Use (“Terms and Conditions”), and your use of the Site constitutes your full and complete acceptance of the Terms and Conditions in their entirety. Please read them carefully. If you do not agree with any provision of these Terms and Conditions, you should not use the Site.
        BfNZ reserves the right to update or modify these Terms and Conditions at any time without prior notice. You agree to be bound by any such changes to the Terms and Conditions. We encourage you to review these Terms and Conditions for changes whenever you use this Site. BfNZ may terminate your access rights to the Site immediately and without notice if in BfNZ’s sole discretion you fail to comply with any provision of the Terms and Conditions.</p>
        <h3>Copyrights and Trademarks</h3>
        <p>All of the Content included on BfNZ’s Site, any of BfNZ’s websites, and BfNZ’s mobile applications (“Content”), including, without limitation, articles, images, illustrations, graphics, programming scripts, logos, button icons, audio clips, videos and video clips, text and software, is subject to copyright, trademark, and/or other intellectual property rights or licenses held by BfNZ. The entire Content is copyrighted under New Zealand copyright laws, and BfNZ owns a copyright in the selection, arrangement, and enhancement of the Content. You cannot use the Content, except as specified herein, and you agree to follow all instructions on this Site, any of BfNZ’s websites, and BfNZ’s mobile applications, limiting the way you may use the Content.</p>
        <p>You may download, print, and store selected portions of the Content, provided you: (1) only use these copies of the Content for your own personal, non-commercial use, and (2) do not copy or post the Content on any network computer or broadcast the Content in any media, and (3) do not modify or alter the Content in any way, or delete or change any copyright or trademark notice. BfNZ retains the complete title and full intellectual property rights of any Content you download from this Site, any of its websites, and mobile applications, and does not grant any rights to you under any copyright, trademark, and/or other intellectual property rights or licenses held by BfNZ. Except as noted above, you may not copy, download, reproduce, modify, publish, distribute, transmit, transfer, or create derivative works from the Content without prior written consent from Bibles for New Zealand.</p>
        <h3>Links</h3>
        <p>The links on this Site, other BfNZ websites, and BfNZ mobile applications, lead to third-party websites. These links are provided only as a convenience, and the inclusion of any link does not imply endorsement or warranties by BfNZ. The linked sites are not under the control of BfNZ and BfNZ is not responsible for the contents of any linked sites or links contained in a linked site, or changes or updates to such sites. Please remember to read the terms and conditions of use and privacy statement of any linked sites as they may differ from these Terms and Conditions.</p>
        <h3>Privacy</h3>
        <p>Please review BfNZ’s <a href="/staticpages/FAQ/#privacy">Privacy Policy</a> which also governs your use of all of BfNZ’s websites and mobile applications.</p>
        <h3>Minors</h3>
        <p>Users of this Site, other BfNZ websites (with the exception of ReadHisWord.com), and BfNZ mobile applications must be at least 18 years of age in order to participate in any activity that requires the submission of Personal Information. By requesting materials or participating in Site activities, you certify that you are at least 18 years of age. BfNZ reserves the right to refuse service, cancel requests for materials, remove content, or cancel orders at its sole discretion.<p>
        <h3>Disclaimer</h3>
        <p>BfNZ’s websites and mobile applications and all its Contents are provided by BfNZ on an “as is” and “as available” basis. BfNZ makes no warranties or representations of any kind, express or implied, as to the operation of its sites and mobile applications or the information, content, materials, or products included on the sites and mobile applications. To the full extent permissible by applicable law, BfNZ disclaims all warranties, express or implied. BfNZ does not warrant that its sites, its servers, or email sent from biblesfornewzealand.org.nz are free of viruses or other harmful components.</p>
        <p>By your use of BfNZ’s sites and mobile applications, you agree that: (1) your use is at your sole risk, (2) you accept full responsibility for all costs associated with all necessary servicing or repairs of any equipment you use in connection with your use, and (3) BfNZ shall not be liable for any damages of any kind, including but not limited to direct, indirect, special, incidental, punitive, or consequential damages, resulting from your use or your inability to use its sites and mobile applications.</p>
        <h3>Indemnification</h3>
        <p>You agree to defend, indemnify, and hold BfNZ and its affiliates, agents, employees, related entities, and third-party content providers and licensors harmless from and against any and all claims, damages, costs and expenses, including attorneys’ fees, arising from or related to your use of the sites and mobile applications, and/or your breach or alleged breach of any obligation, condition, or term in these Terms and Conditions.</p>
        <h3>General Provisions</h3>
        <p>These Terms and Conditions of Use and any additional terms posted on this Site together constitute the entire Agreement between BfNZ and you with respect to your use of this Site, any other BfNZ sites, or any BfNZ mobile applications.</p>
        <p>If any provision of this Agreement shall be unlawful, void, or for any reason unenforceable, that provision shall be severable from the other provisions and shall not affect the validity and enforceability of any remaining provisions.</p>
        <h3>Contacting BfNZ</h3>
        <p>If you have any comments or questions about our Terms of Use, you may contact us:</p>
        <p>Bibles for New Zealand<br>
        PO Box 302746<br>
        North Harbour<br>
        Auckland 0751<br>
        New Zealand<br>
        <br>


        0800 404080<br>
        info@biblesfornewzealand.org.nz</p>
      </div>
    </div>
  </div>
</section>
 <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action top-padding">
            </div>
        </div>
    </aside>
<section class="bg-primary-FAQ top-padding" id="privacy">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-left">
        <h1>Privacy Policy</h1>

        <p>Bibles for New Zealand (BFNZ) is a non-profit organization that distributes free Recovery Version Bibles as well as Christian literature throughout New Zealand.</p>
        <p>Any information you supply to us will only be used to communicate with you about the distribution work we do and to invite you to any events we are running. Your contact details are only ever used by authorised representatives of BFNZ.  BFNZ will never sell, rent, loan, trade or lease any personal information collected through this website, including email lists, to any other organisation or person.</p>
        <p>You may download, print, and store selected portions of the Content, provided you: (1) only use these copies of the Content for your own personal, non-commercial use, and (2) do not copy or post the Content on any network computer or broadcast the Content in any media, and (3) do not modify or alter the Content in any way, or delete or change any copyright or trademark notice. BfNZ retains the complete title and full intellectual property rights of any Content you download from this Site, any of its websites, and mobile applications, and does not grant any rights to you under any copyright, trademark, and/or other intellectual property rights or licenses held by BfNZ. Except as noted above, you may not copy, download, reproduce, modify, publish, distribute, transmit, transfer, or create derivative works from the Content without prior written consent from Bibles for New Zealand.</p>
        <p>We will only send you information if you want to receive it. If you have subscribed to any newsletter in error, or no longer wish to receive communications from us, you can unsubscribe at any time. Alternatively, feel free to contact us to access and update your personal information. </p>

      </div>
    </div>
  </div>
</section>
</body>
