    <%= stylesheet_link_tag 'application', media: 'all' %>

<body>
<h1></h1>
<h1></h1>
<hr>
<section class="bg-primary-FAQ" id="FAQ">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-left">
                    <h1 class="section-heading text-center faq">Frequently Asked Questions</h1>
                    <hr class="light">
                 
<ul class="faqq">
	<br>
  <li><a class="faqq" href="#quest1">How is the Recovery Version New Testament different from other versions?</a></li>
  <li><a class="faqq" href="#quest2">Why is it called the &quot;Recovery Version&quot;?</a> </li>
  <li><a class="faqq" href="#quest3">What does the word &quot;recovery&quot; mean?</a> </li>
  <li><a class="faqq" href="#quest4">Why didn't you include the Old Testament?</a> </li>
  <li><a class="faqq" href="#quest5">What church is Bibles for New Zealand affiliated with?</a> </li>
  <li><a class="faqq" href="#quest6">How is Bibles for New Zealand supported financially?</a> </li>
  <li><a class="faqq" href="#quest7">How long does it take for someone to get their free New Testament?</a> </li>
  <li><a class="faqq" href="#quest8">Who is the publisher of the New Testament Recovery Version?</a> </li>
  <li> <a class="faqq" href="#quest9">When was it published?</a> </li>
  <li><a class="faqq" href="#quest10">Who translated the Recovery Version New Testament?</a> </li>
  <li><a class="faqq" href="#quest11">Who wrote the footnotes?</a></li>
  <br>
</ul>
<div class="faq">
<h3 class="faq"><a name="quest1"></a>How is the Recovery Version New Testament 
  different from other versions?</h3>
<p>Bibles for New Zealand chose to distribute the Recovery Version because of 
  its accurate, modern English translation and because it contains a wealth 
  of useful learning aids that is very easy to use. It contains outlines, 
  footnotes, cross-references, charts and maps, which are outstanding in 
  the way they help the reader to understand the Bible. We think it's better 
  than any version available today.</p>

<h3 class="faq"><a name="quest2"></a>Why is it called the &quot;Recovery 
  Version&quot;?</h3>

<p>Each Bible translation has its own name, e.g. &quot;King James Version,&quot; 
  or &quot;New International Version.&quot; The &quot;Recovery Version&quot; 
  is simply the name of this translation.</p>

<h3 class="faq"><a name="quest3"></a>What does the word &quot;recovery&quot; 
  mean?</h3>

<p>The use of the word &quot;recovery&quot; does not refer to a person's 
  recovery from alcoholism or other substance abuse. It refers to the regaining 
  of the lost matters of biblical truth, Christian experience, and church 
  practice. Over time, many biblical truths have been misunderstood, misinterpreted, 
  misapplied, or missed completely because of the influences of history, 
  tradition and even religion. However, particularly since Martin Luther's 
  time, God has been working to recover these truths. This recovery by God 
  has steadily progressed, affording His people a greater understanding 
  of the divine revelation. Now for the first time these recovered truths 
  are brought together in a unique study Bible-the Recovery Version.</p>

<h3 class="faq"><a name="quest4"></a>Why didn't you include the Old Testament?</h3>
<p>For our gift offer we've chosen to give away only the New Testament. Anyone 
  wanting a copy of the entire Recovery Version Bible may buy one through 
  the publisher, <a href="http://www.lsm.org" target="_blank">Living Stream 
    Ministry</a>, through a Christian bookstore, or on the Internet at <a href="http://www.amazon.com" target="_blank">www.amazon.com</a> 
  or <a href="http://www.barnesandnoble.com" target="_blank">www.barnesandnoble.com</a>.</p>


<h3 class="faq"> <a name="quest5"></a>What church is Bibles for New Zealand affiliated 
  with?</h3>
<p>Bibles for New Zealand is an independent, nonprofit Christian organization 
  and is not part of any church. To best fulfill our mission of distributing 
  free copies of the Bible and helping people understand it, we stress with 
  all our distributors and volunteers that there must be no proselytizing 
  associated with Bibles for New Zealand.</p>

<h3 class="faq"><a name="quest6"></a>How is Bibles for New Zealand supported 
  financially?</h3>
<p>Bibles for New Zealand is funded by the donations of individuals and churches. 
  However, to best fulfill our mission, we allow no organizational or financial 
  ties and accept only &quot;no strings attached&quot; contributions.</p>

<h3 class="faq"><a name="quest7"></a>How long does it take for someone to 
  get their free New Testament?</h3>

<p>It usually takes four to six weeks from the time they place an order.</p>

<h3 class="faq"><a name="quest8"></a>Who is the publisher of the New Testament 
  Recovery Version?</h3>
<p>The publisher is Living Stream Ministry in Anaheim, California.</p>

<h3 class="faq"><a name="quest9"></a>When was it published?</h3>
<p>The Recovery Version New Testament was first published in 1985 and later 
  revised in 1991. The Recovery Version Bible (text only) was published 
  in 1999.</p>

<h3 class="faq"><a name="quest10"></a>Who translated the Recovery Version 
  New Testament?</a></h3>
<p>The editorial section of the Living Stream Ministry translated it.</p>

<h3 class="faq"><a name="quest11"></a>Who wrote the footnotes?</h3>
<p>Witness Lee wrote the footnotes, based upon over fifty years of studying 
  the Bible and the best Christian writings from the first century to the 
  present. Extensive information about his life and ministry is available 
  through Living Stream Ministry.</p>


 </div>
		
                 </div>
            </div>
        </div>
    </section>


      </div>
      <div class="clear text-center"/>
      <div class = "faqq-text" id="footer">
      	<br><br>
	<p>E-mail: <a href="mailto:info@biblesfornewzealand.org.nz">info@biblesfornewzealand.org.nz</a></p>
	<p>&copy;2002-2010 Bibles For New Zealand. All rights reserved.</p>
      </div>

    </div>

  </div>

</body>

