 <%= stylesheet_link_tag 'application', media: 'all' %>

<section id="gospel"style=padding-top:60px;padding-bottom:20px;>
	 <div class="container">
    	<div class="row">
      		<div class="col-lg-8 col-lg-offset-1 text-left text-center faq">
      			 <h1><strong>Share the Gospel.</strong> Give the gift of good news to your friends and family.</h1>
      			<p>Do you know anyone wondering about the meaning of life or whether there is a God? Help them find the answer. Use our gospel videos and tracts to help share the gospel of Jesus Christ with others. It’s easy. You can share them online through social media or email, or download and print the gospel tracts to give away.</p>
				<br><h3><strong>Who Is Jesus?</strong></h3>
    			<p>Who is Jesus? People have asked this question for over 2000 years. Many people have opinions about who this man was. But what does the Bible say?</p>
	    		<div class="video-large"></a>
      				<div class="video-container">
        				<iframe src="//fast.wistia.net/embed/iframe/3zbb80pn1q?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
        				<script src="//fast.wistia.net/assets/external/E-v1.js"></script>
      				</div>
    			</div>
    		</div>
    	</div>
    </div>
</section>
<section style=padding-top:15px;padding-bottom:20px;>
	 <div class="container">
    	<div class="row">
      		<div class="col-lg-8 col-lg-offset-1 text-left text-center faq">
      			<h3><strong>The God-shaped Vacuum</strong></h3>
    					<p>Have you ever felt unsatisfied, let down, or even empty after you got what you thought would make you happy? You are not alone.</p>
      			 <div class="video-large"></a>
      				<div class="video-container">
        				<iframe src="//fast.wistia.net/embed/iframe/kr36pp3guc?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js"></script>
        			<div>
    			</div>
    		</div>
    	</div>
    </div>
</section>
