 <%= stylesheet_link_tag 'application', media: 'all' %>


<section id="gospel"style=padding-top:60px;padding-bottom:20px;>
	 <div class="container">
    	<div class="row">
      		<div class="col-lg-8 col-lg-offset-1 text-left faq">
      			 <h1><strong>Share the Gospel.</strong> Give the gift of good news to your friends and family.</h1>
      			 <p>Do you know anyone wondering about the meaning of life or whether there is a God? Help them find the answer. Use our gospel videos and tracts to help share the gospel of Jesus Christ with others. It’s easy. You can share them online through social media or email, or download and print the gospel tracts to give away.</p>
              <div class="container faq">
                <h2>Videos</h2><p><a href="/staticpages/Gospel/#who"> Who Is Jesus?  </a></p><p><a href="/staticpages/Gospel/#god"> The God-shaped Vacuum </a></p><p><a href="/staticpages/Gospel/#assurance">Assurance of Salvation</a></p><p><a href="/staticpages/Gospel/#security">Security of Salvation</a></p><a href="/staticpages/Gospel/#joy">How to Maintain the Your Joy</a><br><h2><a href="/staticpages/Gospel/#tracts">Gospel Tracts</a></h2>
              </div>
				      <br><h3 id="who" style=padding-top:50px><strong>Who Is Jesus?</strong></h3>
    			   <p>Who is Jesus? People have asked this question for over 2000 years. Many people have opinions about who this man was. But what does the Bible say?</p>
       		       <div class="video-large"></a>
      			       <div class="video-container">
        			       <iframe src="//fast.wistia.net/embed/iframe/3zbb80pn1q?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreemsallowfullscreenmsallowfullscreenn oallowfullscreen msallowfullscreen width="640" height="360"></iframe>
        			       <script src="//fast.wistia.net/assets/external/E-v1.js"></script>
      			       </div>
    			       </div>
    		      </div>
    	     </div>
    </div>
</section>
<section id="god" style=padding-top:35px;padding-bottom:20px;>
	 <div class="container">
    	<div class="row">
      		<div class="col-lg-8 col-lg-offset-1 text-left faq">
      			<h3><strong>The God-shaped Vacuum</strong></h3>
    					<p>Have you ever felt unsatisfied, let down, or even empty after you got what you thought would make you happy? You are not alone.</p>
      		  <div class="video-large"></a>
      				<div class="video-container">
        				<iframe src="//fast.wistia.net/embed/iframe/kr36pp3guc?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js"></script>
        			<div>
    			 </div>
    	 	</div>
    	</div>
    </div>
</section>
<section id="assurance" style=padding-top:35px;padding-bottom:20px;>
   <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-1 text-left faq">
            <h3><strong>Assurance of Salvation: How You Can Know You Are Saved</strong></h3>
              <p>“Am I really saved?”</p>
            <div class="videowrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/xtBUu7Rmwyk" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
      </div>
    </div>
</section>
<section id="security" style=padding-top:35px;padding-bottom:20px;>
   <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-1 text-left faq">
            <h3><strong>Security of Salvation: Can You Lose Your Salvation? </strong></h3>
              <div class="videowrapper">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/MkTV7GZJeoY" frameborder="0" allowfullscreen></iframe>
              </div>
        </div>
      </div>
    </div>
</section>
<section id="joy" style=padding-top:15px;padding-bottom:20px;>
   <div class="container">
      <div class="row">
          <div class="col-lg-8 col-lg-offset-1 text-left faq">
            <h3><strong>How to Maintain the Your Joy</strong></h3>
              <p>As believers, we’ve received Christ. But God’s intention isn’t just for us to have Christ; it’s for us to enjoy Him to the uttermost.</p>
             <div class="videowrapper">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/kpOkDzy-mGg" frameborder="0" allowfullscreen></iframe>
              </div>
        </div>
      </div>
    </div>
</section>
<section id="tracts">
	<div class="container">
		<br>
    	<h1 class="text-left faq"><strong>Gospel Tracts</strong></h1>
    	<br>
		<div class="row">
	  		<div class="col-sm-4 faq">
    			<div class="resource">
      				<a href="/pdf/ThirdPart.pdf" target="_blank"><img src="/img/third-part.jpg" alt="The Third Part" /></a>
      				<h3> <a target="_blank" href="/pdf/ThirdPart.pdf">The Third Part</a></h3>
      				<p>Have you ever felt unsatisfied, let down, or even empty after you got what you thought would make you happy? You’re not alone.</p>
    			</div>
  			</div>
  			<div class="col-sm-4 faq">
    			<div class="resource">
      				<a href="/pdf/boat.pdf" target="_blank"><img src="/img/boat.jpg" alt="Is Jesus in your boat?" /></a>
      				<h3> <a target="_blank" href="/pdf/boat.pdf">Is Jesus in Your Boat?</a></h3>
      				<p>Life is full of all kinds of troubles, and sometimes we feel we’re being tossed about in a stormy sea. How can we find peace?</p>
    			</div>
  			</div>
  			<div class="col-sm-4 faq">
      				<a href="/pdf/lost.pdf" target="_blank"><img src="/img/lost.jpg" alt="Lost and Found" /></a>
      				<h3> <a target="_blank" href="/pdf/lost.pdf">Lost and Found</a></h3>
      				<p>Based on the parable of the prodigal son, this tract shows how the loving God longs for people, regardless of their condition, to return to Him.</p>
  			</div>
  		</div>
  	</div>
    <div class="container"style=padding-top:20px;>
    <div class="row">
        <div class="col-sm-4 faq">
          <div class="resource">
              <a href="/pdf/unknown.pdf" target="_blank"><img src="/img/unknown.jpg" alt="An Unknown God" /></a>
              <h3> <a target="_blank" href="/pdf/unknown.pdf">An Unknown God</a></h3>
              <p>Seeing their altar to an unknown God, Paul told the ancient Athenians that God did not have to remain unknown to them. The same is true for us today. God wants to be known by us</p>
          </div>
        </div>
        <div class="col-sm-4 faq">
          <div class="resource">
              <a href="/pdf/freedom.pdf" target="_blank"><img src="/img/freedom.png" alt="Freed From the Fear of Death" /></a>
              <h3> <a target="_blank" href="/pdf/freedom.pdf">Freed From the Fear of Death</a></h3>
              <p>Life is full of all kinds of troubles, and sometimes we feel we’re being tossed about in a stormy sea. How can we find peace?</p>
          </div>
        </div>
        <div class="col-sm-4 faq">
              <a href="/pdf/healing.pdf" target="_blank"><img src="/img/healing.jpg" alt="The Healing Touch" /></a>
              <h3> <a target="_blank" href="/pdf/healing.pdf">The Healing Touch</a></h3>
              <p>When Jesus Christ lived on the earth, many people knew about Him and even joined the crowds around Him. So how did one ill woman stand out from the crowd?.</p>
        </div>
      </div>
    </div>
     <div class="container"style=padding-top:20px;>
    <div class="row">
        <div class="col-sm-4 faq">
          <div class="resource">
              <a href="/pdf/big.pdf" target="_blank"><img src="/img/big.jpg" alt="The Big Question" /></a>
              <h3> <a target="_blank" href="/pdf/big.pdf">The Big Question</a></h3>
              <p>Seeing their altar to an unknown God, Paul told the ancient Athenians that God did not have to remain unknown to them. The same is true for us today. God wants to be known by us</p>
          </div>
        </div>
        
        
      </div>
    </div>
</section>


