   <%= stylesheet_link_tag 'application', media: 'all' %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
 <section id="study"style=padding-top:40px;>
     <div class="container faq">
        <div class="col-lg-8 col-lg-offset-1 text-left faq">
        <h1><strong>Study the Word. </strong> Use BFNZ online Bible study tools and other resources.</h1><br>
    
    </div>
</section>
<div class="container">
    <div class="col-lg-8 col-lg-offset-1 text-left">
        <div class="row">
            <div class="col-xs-12">
              <ul id="featureNav" class="nav nav-tabs">
              <li class="active"><a href="#resources" data-toggle="tab">Online Resources</a></li>
              <li><a href="#order" data-toggle="tab">Free Study Bible</a></li>
              <li><a href="#downloads" data-toggle="tab">Free Downloads</a></li>
              <li><a href="#app" data-toggle="tab">Free Apps</a></li>
              </ul>

    <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="resources">
                      <section id="resources">
                        <div class="container faq">
                            <h1><strong>BFNZ Online Resources</strong></h1>
                            <div class="row">
                                <div class="col-sm-3 faq" style=padding-top:45px;>
                                    <img src="/img/readhisword.jpg" alt="Read His Word Pic"><br><br>
                                </div>
                                <div class="col-sm-6 faq">
                                    <h2>ReadHisWord.com</h2>
                                    <p>Need help reading the Bible consistently? <a href="http://readhisword.com" target="_blank">ReadHisWord.com</a> is a free online tool provided to help you build up a daily habit of reading the Word of God. It allows you to set up customized Bible reading schedules and email reminders.</p>
                                    <a href="http://readhisword.com" target="_blank" class="btn btn-default">Visit Now</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 faq" style=padding-top:30px;>
                                    <img src="/img/podcast.png" alt="PodcastPic" style=width:50%;height:50%><br><br>
                                </div>
                                <div class="col-sm-6 faq">
                                    <h2>Life-Study Radio Broadcast </h2>
                                    <p>Listen to 30-minute radio broadcasts on every book of the Bible featuring excerpts from messages spoken by Witness Lee, writer of the Recovery Version footnotes and outlines. Download a broadcast or listen online.</p>
                                    <a href="http://www.lsmradio.com/" target="_blank" class="btn btn-default">Listen Now</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 faq" style=padding-top:30px;>
                                    <img src="/img/book.jpg" alt="Books" style=width:50%;height:50%><br><br>
                                </div>
                                <div class="col-sm-6 faq">
                                    <h2>Christian Books Online</h2>
                                    <p>Browse the largest collection of Witness Lee and Watchman Nee books online. Read these books in their entirety, all for free.</p>
                                    <a href="http://www.ministrybooks.org/" target="_blank" class="btn btn-default">Read Now</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 faq" style=padding-top:30px;>
                                    <img src="/img/RV.jpg" alt="Books" style=width:80%;height:80%><br><br>
                                </div>
                                <div class="col-sm-6 faq">
                                    <h2>Read the Recovery Version Online </h2>
                                    <p>Read the full content of the New Testament Recovery Version online, including the notes, cross-references, and outlines.</p>
                                    <a href="http://online.recoveryversion.org/" target="_blank" class="btn btn-default">Read Now</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3 faq" style=padding-top:30px;>
                                    <img src="/img/emanna.jpg" alt="Books" style=width:50%;height:50%><br><br>
                                </div>
                                <div class="col-sm-6 faq">
                                    <h2>eManna - Daily Verses and Ministry </h2>
                                    <p>Sign up to receive daily emails with a few Bible verses from the Recovery Version and a short word of ministry to nourish and strengthen your faith.</p>
                                    <a href="http://www.emanna.com/" target="_blank" class="btn btn-default">Learn More</a>
                                </div>
                            </div>
                        </div>
                    </section>
                    </div>
                    <div class="tab-pane" id="order">
                        <section id="order">
                            <div class="container faq">
                                <h1><strong>Free Study Bible</strong></h1>
                                <div class="row">
                                    <div class="col-sm-3 faq">
                                        <img src="/img/rcv.jpg" alt="recovery version"><br><br>
                                    </div>
                                    <div class="col-sm-6 faq">
                                        <h2>New Testament Recovery Version</h2>
                                        <p>Want to understand the Bible in a deeper way? This free study Bible features extensive notes emphasizing the revelation of the truth, outlines of each book, cross-references, charts and maps, and more.<a href="/staticpages/Sample/#recovery"> Learn more....</a></p>
                                        <%= link_to 'Order Now', new_order_path, class: 'btn btn-primary btn-xl page-scroll' %>
                                        <br><br><a href="http://online.recoveryversion.org/" target="_blank" class="btn btn-default">Read Online Now</a>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane" id="downloads">
                        <section id="downloads">
                            <div class="container faq">
                                <h1><strong>BFNZ Free Downloads</strong></h1>
                                <div class="row">
                                    <div class="col-sm-3 faq" style=padding-top:45px;>
                                        <img src="/img/basic_elements.jpg" alt="Basic Elements Books"><br><br>
                                    </div>
                                    <div class="col-sm-6 faq">
                                        <h2>Download PDF versions of our free Christian books</h2>
                                        <p>Can’t wait for your books to arrive? Start reading them now by downloading our free Christian books for free from the publisher in PDF format. Just select your preferred language and choose the book you want to start with!</p>
                                        <a href="http://mass.ministrybooks.org/Download.aspx" target="_blank" class="btn btn-default">Get Free PDF Now</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 faq" style=padding-top:45px;>
                                        <img src="/img/illustrated-guide.png" alt="Illustrated Guide" style=width:100%;height:100%><br><br>
                                    </div>
                                    <div class="col-sm-6 faq">
                                        <h2>Using the New Testament Recovery Version: an Illustrated Guide</h2>
                                        <p>Use this guide to help you study the Bible using the New Testament Recovery Version. An excellent resource for both personal and group Bible study, it includes a directory of important topics with verses and notes for each.</p>
                                        <a href="http://mass.ministrybooks.org/Download.aspx" target="_blank" class="btn btn-default">Get Free PDF Now</a>
                                    </div>
                                </div>
                            </div>
                        <hr>
                        </section>
                    </div>
                    <div class="tab-pane" id="app">
                        <section id="app">
                            <div class="container faq">
                                <h1><strong>Free Mobile Apps</strong></h1>
                                <div class="row">
                                    <div class="col-sm-3 faq" style=padding-top:45px;>
                                        <img src="/img/bfa-app.png" alt="BFA Study App"><br><br>
                                    </div>
                                    <div class="col-sm-6 faq">
                                        <h2>Bibles for America Bible Study App</h2>
                                        <p>Study the Word by yourself or with others using topics from the Topical Directory in BfA's <em>Illustrated Guide</em>. You can also look up verses, share what you've enjoyed with others, and even help someone order their free Bible straight from your mobile device.</p>
                                         <i class="fa fa-apple"></i><a class="link-lg link-underlined" target="_blank" href="https://itunes.apple.com/us/app/bfa-bible-study/id409727458?mt=8"> Download from Apple App Store</a> <br>
                                    <i class="fa fa-android"></i><a class="link-lg link-underlined" target="_blank" href="https://play.google.com/store/apps/details?id=com.bfa.studyguide&hl=en"> Download from Google Play</a>
                                    </div>
                                </div>
                            </div>
                            
                        </section>
                    </div> 
                </div>  
            </div>
        </div>
    </div>
</div>
