<%= stylesheet_link_tag 'application', media: 'all' %> 
<section class="faq" id="recovery">
<div class="col-lg-6 col-lg-offset-2 text-left">
  <br><br><br>
  <h1><strong>The New Testament Recovery Version</strong></h1>
  <h3>A unique study Bible that helps you understand God's Word</h3>

  <span><br /><br /></span>
<div class="container">
    <div class="row">
      <div class="col-lg-8"style=padding-top:20px;padding-bottom:30px;>
         <div class="video-large no-margin">
          <div class="video-container">
            <iframe src="//fast.wistia.net/embed/iframe/qg2ki5bltz" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="360"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
          </div>
         </div>
      </div>
      <div class="col-lg-4"style=padding-top:40px>
        <img src="/img/rcv.jpg" alt="recovery version">
      </div>
    </div>
</div>

    <div id="aboutBook" class="row">
      <div class="col-xs-12">
        <ul id="featureNav" class="nav nav-tabs">
          <li class="active"><a href="#about" data-toggle="tab">About the Translation</a></li>
          <li><a href="#footnotes" data-toggle="tab">Footnotes and Cross-references</a></li>
          <li><a href="#outlines" data-toggle="tab">Subject and Outlines</a></li>
          <li><a href="#features" data-toggle="tab">Using the Features</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active" id="about">
            <p>How easy a translation is to read is very important,
            but not at the cost of its accuracy to the original language.
            The Recovery Version, published by Living Stream Ministry,
            is both readable and accurate.</p>

            <h3>Readability</h3>
            <p>The Bible text in the Recovery Version is easy to read and
            understand because it is composed in modern English. Instead of
            struggling to understand the archaic language used in some older
            classical translations, you will readily appreciate the easy-to-read
            language of the Recovery Version.</p>

            <h3>Accuracy</h3>
            <p>At the same time, the Recovery Version is a trustworthy,
            accurate translation from the original Greek, the result of extensive
            research into the meaning of the text. Rather than paraphrasing,
            as with some translations, the Recovery Version translates the original
            meaning of the Greek, taking into account centuries of Bible
            scholarship as well as the larger context of the chapter, book,
            and similar portions of the New Testament. You’ll welcome the
            trustworthiness of the translation and its faithfulness to the proper
            understanding of the divine revelation in the holy Word.</p>

            <p>The New Testament Recovery Version mostly follows the Nestle-Aland
            Greek text as found in the Novum Testamentum Graece (26th edition).</p>

            <p>For a detailed introduction, please read “<a href="http://www.recoveryversion.org/preface.html" target="_blank">A Brief Explanation</a>”
            on the publisher’s website. This preface also appears at the front of
            the New Testament Recovery Version.</p>
          </div>

          <div class="tab-pane" id="footnotes">
            <h3>Footnotes</h3>
            <p>While reading the Bible, do you ever end up frustrated by not
            understanding what’s being said? Then you’ll appreciate the footnotes
            in the New Testament Recovery Version.</p>

            <p>One of the striking features of the New Testament Recovery Version
            is its vast number of explanatory footnotes (over 9,000), which help you
            understand the verses in the Bible. As you read, you find yourself
            entering into an understanding of the Word of God in a way you never
            thought possible.</p>

            <p>The Recovery Version footnotes supply you with spiritual nourishment
            by focusing on the light in the truth of God’s Word.</p>

            <p>Let’s say you started your Bible reading from the first page of the
            New Testament, Matthew 1:1: “The book of the generation of Jesus Christ,
            the son of David, the son of Abraham.” Perhaps you felt lost as you
            continued to read through the first seventeen verses, full of
            unfamiliar names from the Old Testament. You might have even wondered
            why these verses are in the Bible.</p>

            <p>With the help of the rich explanation in the footnotes for Matthew 1:1,
            the recorded genealogy of Christ is no longer a seemingly dry listing
            of who begot whom.
            <a href="http://online.recoveryversion.org/FootNotes.asp?FNtsID=1">Click here to read the first footnote.</a></p>

            <p>Going further into Matthew 1, here’s just one example of how the
            footnotes help you understand the genealogy of Jesus Christ by,
            as note 1 above says, tracing “the origin and history of every incident.”</p>

            <p>Matthew 1:5 says, “And Salmon begot Boaz of Rahab, and Boaz begot
            Obed of Ruth, and Obed begot Jesse.”</p>

            <p>Who are these people? Why is this verse here in the Bible? With the
            help of <a href="http://online.recoveryversion.org/FootNotes.asp?FNtsID=11">this footnote on Rahab</a>,
            we gain an appreciation of the genealogy of Jesus Christ that we never
            had before. Instead of wondering why this verse is here,
            we thank God that it is!</p>

            <p>The footnotes, as you can see, not only help our understanding of
            the verses in the Bible but also reveal Christ to us and nourish us
            by ministering to us the life supply from the Word.</p>

            <h3>Cross-References</h3>
            <p>The New Testament Recovery Version includes more than 13,000 cross-references,
            which you will find helpful in your study of the Bible. You can follow
            these cross-references to read other verses in the Bible with the same
            expressions and facts. The cross-references also lead you to other
            matters related to the spiritual revelation in the divine Word.</p>
          </div>

          <div class="tab-pane" id="outlines">
            <p>To understand a book, it really helps to know what the subject of
            the book is and to have an overview of the whole book. The New Testament
            Recovery Version provides both a subject and an outline for every book.
            These give you the spiritual meaning in each book.</p>

            <h3>Subject</h3>
            <p>The subject of each of the twenty-seven New Testament books is
            succinctly stated on the first page of the book. The subject statement
            helps you understand what the book as a whole is about.</p>

            <p>For example, maybe you’ve wondered what the book of Philippians is
            about? You can get help by reading the subject statement for Philippians:</p>

            <div class="row">
              <div class="col-xs-12 text-center">
                <img src="/img/Philipians-1st-Page-HighlightSubject.jpg" alt="First page of the book of Philippians">
              </div>
            </div>

            <h3>Outline</h3>
            <p>An outline at the beginning of each book presents an in-depth
            overview of the entire book, delineating the major sections of the book.
            These outlines give you a bird’s-eye view of every book.</p>

            <p>For example, the outline for Philippians gives us a bird’s-eye view
            of the book by outlining the six major sections of the book:</p>

            <div class="row">
              <div class="col-sm-8 col-sm-offset-2 text-center">
                <img class="img-responsive" src="/img/Philipians-Outline.jpg" alt="First page of the book of Philippians">
              </div>
            </div>

            <p>Each of these major sections also includes detailed sub points.</p>

            <p>Besides appearing at the beginning of each book, the outlines also
            appear within the text of the book, so you’re never far away from
            seeing which section you’re in.</p>
          </div>

          <div class="tab-pane" id="features">
            <div id="bookFeatures" class="carousel slide" data-ride="carousel" data-interval="8000">

              <!-- Wrapper for slides -->
              <div class="carousel-inner">
                <div class="item active">
                  <p>Would you like to know more about what’s inside the Recovery
                  Version and how it can help you in your reading and study of the Word?</p>

                  <p>Let’s use Romans 5:10 as an example of how the different
                  features of the Recovery Version can deepen your understanding of the Bible.</p>

                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <img class="img-responsive" src="/img/Romans-5-10-Verse.jpg" alt="Romans 5:10 Verse">
                    </div>
                  </div>
                </div>

                <div class="item">
                  <p>If you wanted to study this verse, maybe you would ask yourself,
                  “What’s the context of Romans 5:10? What is the book of Romans about?”</p>

                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <img class="img-responsive" src="/img/Romans-Subject.jpg" alt="Romans subject">
                    </div>
                  </div>
                </div>
                <div class="item">
                  <p>Next, you could consider the outline of the book of Romans,
                  especially the section including Romans 5:10.</p>

                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <img class="img-responsive" src="/img/Romans-Outline-II-IV.jpg" alt="Romans outline">
                    </div>
                  </div>

                  <p>This outline section shows that verse 10 of chapter 5 is
                  included in the section on justification. As you look further,
                  you can see that this verse is more specifically on the result of
                  justification. Romans 5:10 is a result of justification in the
                  gospel of God. From the subject and the outline, you now have a
                  context in which to understand this verse.</p>
                </div>

                <div class="item">
                  <p>What about the verse itself? To get more into the verse,
                  you could consider its footnotes. We’ll look at the footnote on
                  the word “saved.” Here’s what footnote 3 says:</p>

                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <img class="img-responsive" src="/img/Romans-5-10-Footnote.jpg" alt="Romans 5:10 footnote">
                    </div>
                  </div>

                  <p>This note shows that the word “saved” in this verse includes
                  much more than our initial salvation. Our experience of being
                  saved wasn’t only for when we first received Christ as our Savior,
                  but is also something for us to experience in our Christian life
                  every day. In His life we can be saved from sin, discouragement,
                  our temper, and a host of other negative things.</p>
                </div>

                <div class="item">
                  <p>After reading this note, you may wonder what other verses in
                  the Bible can shed more light on being saved in Christ’s life.
                  The cross-references for “saved in His life” will take you to
                  several such verses.</p>

                  <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                      <img class="img-responsive" src="/img/Romans-5-10-HighlightCrossreferences-with-line.jpg" alt="Romans 5:10 highlight crossreferences">
                    </div>
                  </div>

                  <p>These verses further show that being saved in Christ’s life is
                  something beyond even initial salvation; it is the daily practice
                  and enjoyment of the life we received through our initial salvation.</p>
                </div>

                <div class="item">
                  <p>By using these features, we can see that the result of our
                  justification through God’s gospel is a living of ever-increasing
                  practice and enjoyment of the life of Christ, which we received at
                  our initial salvation once and for all.</p>

                  <p>Whether you’re simply reading the accurate translation of the
                  text or diving into each of the resources, we believe your
                  understanding and enjoyment of the Bible will increase by using the
                  Recovery Version.</p>

                  <p>We hope that this has been a helpful example of how the
                  New Testament Recovery Version can benefit your study of the Word of God!</p>
                </div>
              </div>
              <br><br><br><br>
              <!-- Indicators -->
              <div class="row">
                <div class="col-xs-12">
                  <ol class="carousel-indicators">
                    <li data-target="#bookFeatures" data-slide-to="0" class="active"></li>
                    <li data-target="#bookFeatures" data-slide-to="1"></li>
                    <li data-target="#bookFeatures" data-slide-to="2"></li>
                    <li data-target="#bookFeatures" data-slide-to="3"></li>
                    <li data-target="#bookFeatures" data-slide-to="4"></li>
                    <li data-target="#bookFeatures" data-slide-to="5"></li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 </div>
</section>
