 <%= stylesheet_link_tag 'application', media: 'all' %>
<br>
 <br>
 <br>
 <br>
 


<div id="bookFeatures" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
	<li data-target="#bookFeatures" data-slide-to="0" class="active"></li>
	<li data-target="#bookFeatures" data-slide-to="1"></li>
	<li data-target="#bookFeatures" data-slide-to="2"></li>
	<li data-target="#bookFeatures" data-slide-to="3"></li>
	<li data-target="#bookFeatures" data-slide-to="4"></li>
	<li data-target="#bookFeatures" data-slide-to="5"></li>
  </ol>

  <!-- Wrapper for slides -->
 	<div class="carousel-inner" role="listbox">
    	<div class="item active">
	     	<p>Would you like to know more about what’s inside the Recovery
	        Version and how it can help you in your reading and study of the Word?</p>

	 		<p>Let’s use Romans 5:10 as an example of how the different
	    	features of the Recovery Version can deepen your understanding of the Bible.</p>
    		<div class="row">
           		<div class="col-sm-8 col-sm-offset-2">
                	<img class="img-responsive" src="/img/Romans-5-10-Verse.jpg" alt="Romans 5:10 Verse">
            	</div>
        	</div>
    	</div>
    	<div class="item">
		        <p>If you wanted to study this verse, maybe you would ask yourself,
		           “What’s the context of Romans 5:10? What is the book of Romans about?”</p>
        	<div class="row">
        		<div class="col-sm-8 col-sm-offset-2">
                	<img class="img-responsive" src="/img/Romans-Subject.jpg" alt="Romans subject">
            	</div>
        	</div> 
    	</div>
    	<div class="item">
                  <p>Next, you could consider the outline of the book of Romans,
                  especially the section including Romans 5:10.</p>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                      <img class="img-responsive" src="/img/Romans-Outline-II-IV.jpg" alt="Romans outline">
                </div>
           </div>
                  <p>This outline section shows that verse 10 of chapter 5 is
                  included in the section on justification. As you look further,
                  you can see that this verse is more specifically on the result of
                  justification. Romans 5:10 is a result of justification in the
                  gospel of God. From the subject and the outline, you now have a
                  context in which to understand this verse.</p>
        </div>
        <div class="item">
                  <p>What about the verse itself? To get more into the verse,
                  you could consider its footnotes. We’ll look at the footnote on
                  the word “saved.” Here’s what footnote 3 says:</p>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                      <img class="img-responsive" src="/img/Romans-5-10-Footnote.jpg" alt="Romans 5:10 footnote">
                </div>
           	</div>

                  <p>This note shows that the word “saved” in this verse includes
                  much more than our initial salvation. Our experience of being
                  saved wasn’t only for when we first received Christ as our Savior,
                  but is also something for us to experience in our Christian life
                  every day. In His life we can be saved from sin, discouragement,
                  our temper, and a host of other negative things.</p>
        </div>
        <div class="item">
                  <p>After reading this note, you may wonder what other verses in
                  the Bible can shed more light on being saved in Christ’s life.
                  The cross-references for “saved in His life” will take you to
                  several such verses.</p>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                      <img class="img-responsive" src="/img/Romans-5-10-HighlightCrossreferences-with-line.jpg" alt="Romans 5:10 highlight crossreferences">
                </div>
            </div>

                  <p>These verses further show that being saved in Christ’s life is
                  something beyond even initial salvation; it is the daily practice
                  and enjoyment of the life we received through our initial salvation.</p>
       	</div>
       	<div class="item">
                  <p>By using these features, we can see that the result of our
                  justification through God’s gospel is a living of ever-increasing
                  practice and enjoyment of the life of Christ, which we received at
                  our initial salvation once and for all.</p>

                  <p>Whether you’re simply reading the accurate translation of the
                  text or diving into each of the resources, we believe your
                  understanding and enjoyment of the Bible will increase by using the
                  Recovery Version.</p>

                  <p>We hope that this has been a helpful example of how the
                  New Testament Recovery Version can benefit your study of the Word of God!</p>
        </div>
    </div>
</div>

