<h2>Ready to Ship Orders</h2>

<%= render 'orders', orders: @orders.map { |order| Admin::ShippableOrderPresenter.new(order) } %>
<div class='btn-group-vertical'>
  <%= link_to "Download #{pluralize(@orders.count, 'Label')}", admin_labels_path(format: :csv), class: 'btn btn-default' if @orders.any? %>
</div>
