tr.duplicate {
  color: #999;
  }

#new_admin_order_search_form .checkbox label {
  font-weight: bold;
}

.extra-action {
  float: right;
}

ul.thumbnails.image_picker_selector li .thumbnail {
  height: 230px;
  width: 100px;
}
