<% if cookies["table"] %>
  <h2> found table at (location) </h2>
  <btn> Resume </btn>
<% end %>

<%= render partial: "shared/flash_messages", flash: flash %>

<h2> enter code to join existing table </h2>
<%= form_tag(join_table_path) do %>
  <input type='text' name='table_code'>
  <input type='submit'>
<% end %>

<h2> Create New Table </h2>
<% render 'table_form' %>

