<% if cookies["table"] %>
  <h2> found table at (location) </h2>
  <btn> Resume </btn>
<% end %>

<%= render partial: "shared/flash_messages", flash: flash %>

<div class="table-container">
  <h2> Create New Table </h2>
  <%= render 'table_form' %>
</div>
