<%= render partial: "shared/flash_messages", flash: flash %>
<div class="table-container">
  <h1>Free Bible</h1>


  <p>To receive your free bible simply fill out the order form below.</p>
  <%= render 'table_order_form' %>

</div>