<p>Welcome to the Bibles for New Zealand Administration Centre.</p>
<p>Please select a task from the left hand menu.</p>
<p>If you have any trouble, or have questions, please contact: <%= mail_to 'paulesalmon@gmail.com', 'paulesalmon@gmail.com' %></p>
