<h2>Add Coordinator</h2>
<%= form_for [:admin, @coordinator], as: :coordinator, url: admin_coordinators_path, html: {role: "form", class: "form-horizontal"} do |form| %>
  <%= render form %>
<% end %>
